/* CSS Document */
/* ===================== css reset start ===================== */
body,div,form,table,../img,ul,ol,li,dl,dt,dd,h1,h2,h3,a{margin:0;padding:0;border:0;background:none;}
body{font-size:12px;font-family:'Î¢ÈíÑÅºÚ',"arial","sans-serif";font-weight:normal;background:#ccc;}
*:focus{ outline:none;}
table{border-collapse:collapse; border-spacing:0;}
th{text-align:left;}
ul li{list-style:none;}
a{text-decoration:none;}
a:hover{cursor:point;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.noDisplay{ display:none;}
.bodyBg{ background:url(../../img/cn/SPLM.jpg) no-repeat;}
/* ===================== css reset end ===================== */

/* ===================== input select start ===================== */
input.cuteBtn{ border:0; background:url(../../img/cn/btn_n.gif) no-repeat; height:25px; line-height:25px; width:80px; color:#fff;}
input.cuteBtn:hover{ background:url(../../img/cn/btn_h.gif) no-repeat; cursor:hand;}
input.cuteBtn25{ border:none; height:25px; line-height:25px; width:25px;}
input.cuteBtn25:hover{ cursor:hand;}
input.cuteTxt{ width:120px;}
select.cuteSel{ width:80px;}
/* ===================== input select end ===================== */

/* ===================== tips start ===================== */
.tips{ margin-right:5px;}
.tips .tipsTop{position:absolute;z-index:999;height:30px;line-height:22px;width:65px;margin-top:-25px;margin-left:-19px;background:url(../../img/cn/tishibg2.png) no-repeat;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cn/tishibg2.png');display:none;}
.tips .tipsTxt{text-align:center;color:#fff;}
/* ===================== tips end ===================== */

/* ===================== popup start ===================== */
#popup{ position:absolute;z-index:1000;}
#popup .wrapBg_TL{ background:url(../../img/cn/popupWrap_TL.png) no-repeat;}
#popup .wrapBg_TR{ background:url(../../img/cn/popupWrap_TR.png) top right no-repeat;}
#popup .wrapBg_BL{ background:url(../../img/cn/popupWrap_BL.png) bottom left no-repeat;}
#popup .wrapBg_BR{ background:url(../../img/cn/popupWrap_BR.png) bottom right no-repeat; padding:0px 20px;}
#popup .wrapTitle{ height:35px; line-height:35px; display:block;}
#popup .wrapTitle h2{ float:left; color:#fff; font-size:14px; font-weight:bold;}
#popup .wrapTitle .wrapBtnCtrl{ float:right; color:#fff;}
#popup .wrapTitle .wrapBtnCtrl a.btnClose{ width:20px; height:35px; line-height:35px; display:block; background:url(../../img/cn/lock_close.gif) center no-repeat;}
#popup .wrapTitle .wrapBtnCtrl a.btnClose:hover{ background:url(../../img/cn/lock_close_hover.gif) center no-repeat;}
#popup .wrapBottom{ height:15px; width:100%; clear:both;}
/* ===================== popup end ===================== */

/* ===================== nav start ===================== */
#navMain{ float:left; margin-top:5px;}
#navMain .navMainPrev{ width:110px; height:30px; background:#900;}
#navMain .navMainNext{ width:110px; height:30px; background:#900;}
#navMain ul li{width:110px;height:130px;display:block;}
#navMain ul li a{}
#navMain ul li a ../img{ vertical-align:bottom;}
#navMain a.prevBtn{ width:100%; height:30px; line-height:30px; background:url(../../img/cn/navMainCtrlBtnTop_n.gif); color:#FFF; display:block; text-align:center;}
#navMain a.prevBtn:hover{ background:url(../../img/cn/navMainCtrlBtnTop_h.gif);}
#navMain a.prevBtn:active{ background:url(../../img/cn/navMainCtrlBtnTop_a.gif);}
#navMain a.nextBtn{ width:100%; height:30px; line-height:30px; background:url(../../img/cn/navMainCtrlBtnBtm_n.gif); color:#FFF; display:block; text-align:center;}
#navMain a.nextBtn:hover{ background:url(../../img/cn/navMainCtrlBtnBtm_h.gif);}
#navMain a.nextBtn:active{ background:url(../../img/cn/navMainCtrlBtnBtm_a.gif);}
#navMain ul li div.arrow{position:absolute;margin:-130px 0 0 110px;*margin:0 0 0 0;width:24px;height:132px;background:url(../../img/cn/main_arrow.png) 0 0 no-repeat;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cn/main_arrow.png');z-index:1000;display:none;}
#navSub{ float:left; margin-top:5px; margin-bottom:5px; background:url(../../img/cn/submenubg.gif) repeat-y;}
#navSub ul li a{width:150px;height:30px;line-height:30px;display:block;text-align:center; background:url(../../img/cn/sub_div.gif) no-repeat; color:#333;}
#navSub ul li a:hover{ background:url(../../img/cn/sub_divhover.gif) no-repeat; color:#000;}
#navSub ul li a.menu2_c{ background:url(../../img/cn/sub_divact.gif) no-repeat; color:#fff;}

/* navHidBtn */
.navHidBtnTop{ float:left; margin-top:5px; width:20px; background:url(../../img/cn/navHidTop.gif) no-repeat;}
.navHidBtnBottom{ width:20px; background:url(../../img/cn/navHidBottom.gif) bottom no-repeat;}
.navHidBtn{ width:20px; height:40px; background:url(../../img/cn/navHidBtn_nol.gif) center no-repeat;}
.navHidBtn:hover{ width:20px; height:40px; cursor:hand; background:url(../../img/cn/navHidBtn_hover.gif) center no-repeat;}
/* ===================== nav end ===================== */

/* ===================== wrapper start ===================== */
.wrapBg_TL{ background:url(../../img/cn/wrap_TL.png) no-repeat;}
.wrapBg_TR{ background:url(../../img/cn/wrap_TR.png) top right no-repeat;}
.wrapBg_BL{ background:url(../../img/cn/wrap_BL.png) bottom left no-repeat;}
.wrapBg_BR{ background:url(../../img/cn/wrap_BR.png) bottom right no-repeat; padding:0px 20px;}
.wrapTitle{ height:42px; line-height:42px; display:block;}
.wrapTitle h2{ float:left; color:#FFF; font-size:14px; font-weight:bold;}
.wrapTitle .wrapBtnCtrl{ float:right; color:#FFF;}
.wrapTitle .wrapBtnCtrl a.btnClose{ width:20px; height:42px; line-height:42px; display:block; background:url(../../img/cn/lock_close.gif) center no-repeat;}
.wrapTitle .wrapBtnCtrl a.btnClose:hover{ background:url(../../img/cn/lock_close_hover.gif) center no-repeat;}
.wrapContent{ width:100%;}
.wrapContent h3 + p{ margin-top:0px;}
.wrapBottom{ height:15px; width:100%; clear:both;}
/* ===================== wrapper end ===================== */

/* ===================== datapage start ===================== */
#dataSearch{ min-width:800px;}
#advanceSearch{ background:#eee; border:#ddd 1px solid; padding:5px;}
#advanceSearch .searchListTable{ margin-right:10px;}
#advanceSearch .searchListCtrl{ height:30px; line-height:30px;}
#advanceSearch .searchListTable table tr{ height:30px; line-height:30px;}
#advanceSearch .searchListTable table tr td{ padding:0 5px;}
input.addRow{ background:url(../../img/cn/listRowAdd_n.gif) no-repeat;}
input.addRow:hover{ background:url(../../img/cn/listRowAdd_h.gif) no-repeat;}
input.delRow{ background:url(../../img/cn/listRowDel_n.gif) no-repeat;}
input.delRow:hover{ background:url(../../img/cn/listRowDel_h.gif) no-repeat;}
input.listAdv{ background:url(../../img/cn/listRowAdv_n.gif) no-repeat;}
input.listAdv:hover{ background:url(../../img/cn/listRowAdv_h.gif) no-repeat;}
input.listBas{ background:url(../../img/cn/listRowBas_n.gif) no-repeat;}
input.listBas:hover{ background:url(../../img/cn/listRowBas_h.gif) no-repeat;}

#dataList{ min-width:800px;}
#dataList .listBtnCtrl{ height:30px; line-height:30px; text-align:center;}
.listPageNum{ height:30px; background:url(../../img/cn/listPNBg_M.png) repeat-x;}
.listPageNumBg_L{ float:left; height:30px; width:20px; background:url(../../img/cn/listPNBg_L.png) left no-repeat;}
.listPageNumBg_R{ float:right; height:30px; width:20px; background:url(../../img/cn/listPNBg_R.png) right no-repeat;}
.listPageNumContent{ float:left;}
.listPageNumCur{ float:left; height:30px; line-height:28px; margin-right:10px;}
.listPageNumContent a{ float:left; height:28px; width:16px; margin-right:10px;}
.listPageNumContent a.first{ background:url(../../img/cn/listFirst.gif) center no-repeat;}
.listPageNumContent a.first:hover{ background:url(../../img/cn/listFirst_h.gif) center no-repeat;}
.listPageNumContent a.first:active{ background:url(../../img/cn/listFirst_a.gif) center no-repeat;}
.listPageNumContent a.first_disabled{ background:url(../../img/cn/listFirst_dis.gif) center no-repeat;}
.listPageNumContent a.prev{ background:url(../../img/cn/listPre.gif) center no-repeat;}
.listPageNumContent a.prev:hover{ background:url(../../img/cn/listPre_h.gif) center no-repeat;}
.listPageNumContent a.prev:active{ background:url(../../img/cn/listPre_a.gif) center no-repeat;}
.listPageNumContent a.prev_disabled{ background:url(../../img/cn/listPre_dis.gif) center no-repeat;}
.listPageNumContent a.next{ background:url(../../img/cn/listNext.gif) center no-repeat;}
.listPageNumContent a.next:hover{ background:url(../../img/cn/listNext_h.gif) center no-repeat;}
.listPageNumContent a.next:active{ background:url(../../img/cn/listNext_a.gif) center no-repeat;}
.listPageNumContent a.next_disabled{ background:url(../../img/cn/listNext_dis.gif) center no-repeat;}
.listPageNumContent a.last{ background:url(../../img/cn/listLast.gif) center no-repeat;}
.listPageNumContent a.last:hover{ background:url(../../img/cn/listLast_h.gif) center no-repeat;}
.listPageNumContent a.last:active{ background:url(../../img/cn/listLast_a.gif) center no-repeat;}
.listPageNumContent a.last_disabled{ background:url(../../img/cn/listLast_dis.gif) center no-repeat;}

.listTable{ overflow:auto;}
.listTable table.listTableMain{ width:100%;}
.listTable table.listTableMain tr{ height:25px; line-height:25px;}
.listTable table.listTableMain tr th{ font-family:'Î¢ÈíÑÅºÚ',"arial","sans-serif"; font-size:12px; text-align:center;}
.listTable table.listTableMain tr td{ border-left:#b3c0d9 1px dotted; font-family:'Î¢ÈíÑÅºÚ',"arial","sans-serif"; font-size:12px; text-align:center;}
.listTable table.listTableMain tr td a{ color:#03F;}
.tdFirst{ text-align:center;}
.thFirst{ background:url(../../img/cn/listTableBorder_L0.gif) left repeat-y;}
.thLast{ background:url(../../img/cn/listTableBorder_R0.gif) right repeat-y;}
.tdEvenFirst{ background:url(../../img/cn/listTableBorder_L1.gif) left repeat-y;}
.tdOddFirst{ background:url(../../img/cn/listTableBorder_L2.gif) left repeat-y;}
.tdEvenLast{ background:url(../../img/cn/listTableBorder_R1.gif) right repeat-y;}
.tdOddLast{ background:url(../../img/cn/listTableBorder_R2.gif) right repeat-y;}
.trLast{ border-bottom:#cacaca 2px solid;}
/* ===================== datapage end ===================== */

/* ===================== header start ===================== */
.header{width:100%;height:60px;background:url(../../img/cn/topBG.gif) repeat-x;}
.logo{height:60px;}
.infoUser{ margin-top:28px;color:#600;}
.headerBtn{ margin-top:28px; margin-right:10px; text-align:right;}
.headerBtn a{ display:inline-block;}
a.exit{height:27px;width:91px;background:url(../../img/cn/exit_nol.gif) no-repeat;}	
a.exit:hover{background:url(../../img/cn/exit_hover.gif) no-repeat;}
a.exit:active{background:url(../../img/cn/exit_act.gif) no-repeat;}
a.about{height:24px;width:24px;background:url(../../img/cn/info_nol.gif) no-repeat;}	
a.about:hover{background:url(../../img/cn/info_hover.gif) no-repeat;}
a.about:active{background:url(../../img/cn/info_act.gif) no-repeat;}
a.help{height:24px;width:24px;background:url(../../img/cn/help_nol.gif) no-repeat;}
a.help:hover{background:url(../../img/cn/help_hover.gif) no-repeat;}
a.help:active{background:url(../../img/cn/help_act.gif) no-repeat;}
/* ===================== header end ===================== */

/* ===================== nav start ===================== */
.nav{width:100%;padding-top:5px;}
a.topbtn{height:30px;width:110px;display:block;}	
a.topbtn:link{background:url(../../img/cn/navMain_topbtn_nol.gif) no-repeat;}
a.topbtn:visited{background:url(../../img/cn/navMain_topbtn_nol.gif) no-repeat;}
a.topbtn:hover{background:url(../../img/cn/navMain_topbtn_hover.gif) no-repeat;}
a.topbtn:active{background:url(../../img/cn/navMain_topbtn_act.gif) no-repeat;}
a.btmbtn{height:30px;width:110px;display:block;}	
a.btmbtn:link{background:url(../../img/cn/navMain_btmbtn_nol.gif) no-repeat;}
a.btmbtn:visited{background:url(../../img/cn/navMain_btmbtn_nol.gif) no-repeat;}
a.btmbtn:hover{background:url(../../img/cn/navMain_btmbtn_hover.gif) no-repeat;}
a.btmbtn:active{background:url(../../img/cn/navMain_btmbtn_act.gif) no-repeat;}
/* ===================== nav end ===================== */

/* ===================== login start ===================== */
.loginbody{background:#678db2 url(../../img/cn/login.jpg) center 0 no-repeat;}
.login{ width:550px;margin:0 auto;}
.login .inputBox{ padding-top:326px; padding-left:150px; height:88px; width:330px;}
.login .inputBox input{ border:0px; height:30px; line-height:30px; width:320px; background:none;}
.login .remember{ line-height:30px; height:30px; padding-top:20px; padding-left:140px;color:#F00;}
.login .operate{ height:35px; line-height:35px; padding-left:270px;}
.copyright{ padding-top:60px; clear:both; line-height:30px; width:100%; text-align:center;}
.loginBtn{float:left;margin-right:5px;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/logbtn.gif) no-repeat;}
.loginBtnHover{float:left;cursor:hand;margin-right:5px;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/logbtn_hover.gif) no-repeat;}
.loginBtnActive{float:left;margin-right:5px;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/logbtn_act.gif) no-repeat;}
.resetBtn{float:left;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/reset_nol.gif) no-repeat;}
.resetBtnHover{float:left;cursor:hand;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/reset_hover.gif) no-repeat;}
.resetBtnActive{float:left;height:35px;width:100px;border:0;display:block;background:url(../../img/cn/reset_act.gif) no-repeat;}
/* ===================== login end ===================== */

.mask{ position:absolute;left:0pt;top:0pt;width:100%;z-index:1000;background:#777;filter:alpha(opacity=36);
	/* for IE */opacity:0.36;display:none;}
	
