@charset "utf-8";
/*页面样式*/
body {
	margin-left:auto;
	margin-top: 0px;
	margin-right:auto;
	margin-bottom: 0px;
	text-align:center;
	background: rgb(243, 243, 243);
}

/*页面标题文字*/
.Tab_col_wtext {
	font-family:"宋体";
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	line-height:28px;
	vertical-align:middle;
}
/*标题字体*/
.text11 {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
	font-weight:bold;
	letter-spacing:2px;
}
/*查询表格中查询条件项的宽度和对齐,统一采用右对齐方弄17*/
.rtCDTFdName {
	text-align:right;
	width:15%;
	padding:0 5px;
	color: #000;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-width: normal;
}
/*查询表格中各种表单项的宽度和对齐,统一采用左对齐方弄17*/
.rtCDTFdValue {
	text-align:left;
	width:35%;
	padding:0 5px;
}

.inquire_item {
	text-align:right;
}
.inquire_form {
	text-align:left;
}
/*动17调整数据项宽度*/
.inquire_item1 {
	text-align:center;
	width:auto;
	padding-right:5px;
	color:#254a8e;
 	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#b9ddf3, endColorStr=#b9ddf3, gradientType=0);
}
/*动17调整数据项宽度*/
.inquire_form1 {
	text-align:center;
	width:auto;
	padding-right:5px;
}
/*动17插入一行附加属怄17*/
.inquire_item_dynamic {
	text-align:center;
	width:20%;
	padding-right:5px;
	color:#254a8e;
 	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=0);
}

/*动17插入一行附加属怄17*/
.inquire_form_dynamic1 {
	text-align:center;
	width:auto;
	padding-right:5px;
	color:#254a8e;
 	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=0);
}
.form_info1 {
	FONT-SIZE: 12px;
	height:20px;
	line-height: 18px;
	vertical-align: middle;
	height:20px;
	background-image:
	url(../images/oms_index_20.gif)  width: 97%;
	border:0px;
}
/*查询表格样式*/
.form_info00 {
	FONT-SIZE: 12px;
	height:30px;
	line-height: 18px;
	vertical-align: middle;
	line-height:30px;
	background-color: #fff;
	width: 100%;
}
.form_info00 TD {
	FONT-SIZE: 12px;
	height:30px;
	BORDER-BOTTOM: #fff 1px solid;
	BORDER-RIGHT: #fff 1px solid;
	line-height: 18px;
	vertical-align: middle;
}

/*查询表格样式*/
.form_info {
	FONT-SIZE: 12px;
	height:30px;
	BORDER: #deddde 1px solid;
	border-bottom : 0px;
	line-height: 30px;
	width:100%;
	margin-top:1px;
	background: rgb(243, 243, 243);
}

.form_info TD {
	FONT-SIZE: 12px;
	height:30px;
	line-height: 30px;
	/*white-space:nowrap;*/
}
.form_info .trSel {
  	background-color: #4B96FF;
}
.form_info4 {
	FONT-SIZE: 12px;
	height:21px;
	line-height: 21px;
	vertical-align: middle;
	BORDER-top: #d0e4ed 1px solid;
	BORDER-left: #d0e4ed 1px solid;
	background-color: #fff;
	width: 100%;
}
.form_info4 TD {
	FONT-SIZE: 12px;
	height:21px;
	BORDER-BOTTOM: #d0e4ed 1px solid;
	BORDER-RIGHT: #d0e4ed 1px solid;
	line-height: 21px;
	vertical-align: middle;
	
}


/*按钮*/
 .iButton2 {
	BORDER: #deddde 1px solid;
	FONT-SIZE: 12px;
	background:#2C83C1;
	CURSOR:  hand;
	COLOR: #ffffff;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	height:22px;
}

.bt_info {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#96baf6
}

/*动17插入一行附加属怄17*/
.bt_info1 {
	text-align: left;
	width:20%;
	padding-right:5px;
	color:#254a8e;
 	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=0);
}
.bt_info2 {
	text-align: right;
	width:20%;
	padding-right:5px;
	color:#254a8e;
 	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=0);
}

/*右对齄17*/
.ali1 {
	text-align:right;
}
.ali7 {
	text-align:left;
}
.ali3 {
	text-align:right;
	margin-top:3px;
}
/*左对齄17*/
.ali4 {
	text-align:right;
	margin-top:3px;
	width:18%;
	padding-right:5px;
	color: #f0f0f0;
}
/*中对齄17*/
.ali5{
	text-align:center;
	margin-top:3px;
}
.Tab_new_mod_del {
	FONT-SIZE: 12px;
	COLOR: #333;
	FONT-FAMILY: "宋体";
	font-weight:normal;
	background-repeat: repeat;
	background-position: left top;
	vertical-align: bottom;
	text-align:left;
	border-bottom:#DEDDDE 1px solid;
	background-color:#FDFDFD;
	background:url(../images/oms_index_19.gif);
	background-repeat:repeat-x;
	width:100%;
	line-height: 20px;
	margin: 0px;
	padding-top:4px;
	padding-left:10px;
	height:36px;
}
/*select附加属1717*/
.select_width {
	width:82%;
	height: 24px;
	line-height: 24px;
	border: #a4b2c0 1px solid;
}
/*input附加属1717*/
.input_width {
	width:80%;
	height: 24px;
	line-height: 24px;
	border: #a4b2c0 1px solid;
}

/*input_long附加属1717*/
.input_width_long {
	width:83%;
}
/*input时间附加属1717*/
.input_width_date {
	width:80%;
}
/*input时间附加属1717*/
.input_width_date_short {
	width:40%;
}
/*变更说明textarea样式*/
.input_width_textarea{
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY:"宋体";
	BACKGROUND-COLOR: #fafafa;
	line-height: 20px;
	border: 1px solid #CED0DE;
	height: 40px;
	width: 99%;
	word-break:break-all;
}
/*缺省连接风格*/
A {
	COLOR: #3366ff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
A:link {
	COLOR: #3366ff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
A:visited {
	COLOR: #3366ff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
A:hover {
	COLOR: #FFA100;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
A:active {
	COLOR: #3366ff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
/*TEXTAREA项样弄17*/
TEXTAREA {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY:"宋体";
	BACKGROUND-COLOR: #fafafa;
	line-height: 20px;
	border: 1px solid #CED0DE;
	height: 80px;
	width: 99%;
	word-break:break-all;
}

/*登录页字佄17*/
.login_text {
	font-size: 12px;
	color: #3b5cb9;
	text-decoration: none;
	font-family: "宋体";
	font-weight: bold;
}
.chkbox {
	border:1px #999999 solid;
	width:132px;
	color:#333333;
	vertical-align:middle;
	font:"宋体";
	font-weight: normal;
	font-size:12px;
}
.daohang {
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	letter-spacing: 1px;
}
a.daohang:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.daohang:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.daohang:hover {
	font-family: "宋体";
	font-size: 12px;
	color:#ffffff;
	text-decoration: none;
	letter-spacing: 1px;
}
#work a.worker {
	background:url(../images/de/index3_11.gif) 0 0 no-repeat;
	width:243px;
	height:70px;
	display:block;
}
#work a.worker:hover {
	background:url(../images/de/index3_10.gif) 0 0 no-repeat;
}
.wb_text {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-family: "宋体";
	font-weight: bold;
}
.wn_text {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-family: "宋体";
}
/*奇数衄17/列样弄17*/
.odd {
	FONT-SIZE: 12px;
	FONT-FAMILY:"宋体";
	text-align: center;
}
/*偶数衄17/列样弄17*/
.even {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体";
	text-align: center;
	background-color: #FFFFFF;
}
/*行左对齐*/
.tr_align_left {
	FONT-SIZE: 12px;
	FONT-FAMILY:"宋体";
	text-align: left;
	BACKGROUND-COLOR: #eff4f9;
}
.yejiao {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 1px;
}
a.yejiao:link {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
}
a.yejiao:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #990000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.yejiao:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
}
.wea_text {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
}

/*页面样式*/
.inquire_item8 {
	text-align:right;
	width:5%;
	padding-right:5px;
	color:#254a8e;
	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=1);
}
/*查询表格中各种表单项的宽度和对齐,统一采用左对齐方弄17*/
.inquire_form8 {
	text-align:left;
	width:7.5%;
	padding-left:5px;
}

.bt_info8 {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY:"宋体";
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/oms_index_11.gif);
	background-repeat: repeat-x;
	BORDER-right: #fff 1px solid;
	BORDER-bottom: #AAB7D5 1px solid;
}
.Tab_page_title {
	margin-top: 2px;
	margin-bottom: 1px;
	vertical-align: middle;
	width:100%;
	height:20px;
	background-repeat: repeat-x;
	display:none;
}
/*查询结果提示栏*/
#rtToolbarDiv{
	width:100%;
	height:28px;
	border:1px #afbccc solid;
	margin-top:1px;
	font:normal 12px/28px "微软雅黑";
	color:#FFF;
	background:#8097c1;
}

.rtToolbar {

}

.rtToolbar td {

	
}

.rtToolbar_chkboxme{


}

/*以下是CRU页面样式*/

#addDiv {
	padding-top: 5px;	
}


/*字段table*/
#rtCRUTable {
	FONT-SIZE: 12px;
	BORDER-TOP: #AAB7D5 1px solid;
	BORDER-LEFT: #AAB7D5 0px solid;
	width: 100%;
}

.rtCRUFdName{
	text-align:right;
	width:15%;
	padding-right:5px;
	/*color:#254a8e;
	filter:progid:DXImageTransform.Microsoft.Gradient (startColorStr=#ffffff, endColorStr=#b9ddf3, gradientType=1);*/
}
.rtCRUFdValue{
	text-align:left;
	width:35%;
	padding-left:5px;
}

/*子表明细*/
.itemsTitle {
	FONT-SIZE: 15px;
	COLOR: #0000FF;
	FONT-FAMILY: "宋体";
	font-weight:normal;
	font-style: normal;
}

.itemsTable {
	FONT-SIZE: 12px;
	BORDER-TOP: #AAB7D5 1px solid;
	BORDER-LEFT: #AAB7D5 0px solid;
	width: 100%;
	
}

.itemsTable TD {
	FONT-SIZE: 12px;
	BORDER-BOTTOM: #fff 1px solid;
	BORDER-RIGHT: #fff 1px solid;
	text-align:center;
}

.itemsTable thead{
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: "宋体";
	font-weight:normal;
	/*background-image: url(../images/bg00.gif);
	background-repeat: repeat-x;
	background-position: left top;*/
	background-color:#bddff4;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height:20px; 
	text-align:center;
}

.itemsTableInputReadOnly{
	border: none;
	border-style: none;
	border-width: 0;
	text-align: center;
	background-color: transparent;		
}

/*子表明细*/
#floatDiv{
	position: absolute;
	background-color: #CCCCCC;
	z-index: 3;
	border-color: #999999;
	border-width: 2;
}


/*---------------------文件上传框的样式--------------------*/
a.addfile {
background-image:url(../images/f1.gif);
background-repeat:no-repeat;
display:block;
height:20px;
position:relative;
text-decoration:none;
width:80px;
}

input.addfile {
/*left:-18px;*/
}

input.addfile {
cursor:pointer !important;
height:30px;
left:-6px;
filter:alpha(opacity=0); 
position:absolute;
top:-9px;
width:10px;
z-index: -1;
}


/* gms */
/*奇数行奇数列样式*/
.odd_odd {
	FONT-SIZE: 12px;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	text-align: center;
	BACKGROUND-COLOR: #e3e3e3;
	padding:0 5px;

}
/*奇数行偶数列样式*/
.odd_even {
	FONT-SIZE: 12px;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	text-align: center;
	BACKGROUND-COLOR: #ebebeb;
	padding:0 5px;

}
/*偶数行奇数列样式*/
.even_odd{
	FONT-SIZE: 12px;
	FONT-FAMILY: "微软雅黑",Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #f6f6f6;
	padding:0 5px;
}
/*偶数行偶数列样式*/
.even_even{
	FONT-SIZE: 12px;
	FONT-FAMILY: "微软雅黑",Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #FFFFFF;
	padding:0 5px;
}

/*三期新做的图标样式的按钮*/

.red_star {
	color:#F00;
	padding:0 5px;
}
.close_btn a {
	height:20px;
	width:20px;
	background:url(../images/images/close.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.close_btn a:hover {
	height:20px;
	width:20px;
	background:url(../images/images/close_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.tj_btn a {
	height:30px;
	width:65px;
	background:url(../images/tj.png) no-repeat;
	display:inline-block;
	margin-top:10px;


}
.tj_btn a:hover {
	height:30px;
	width:65px;
	background:url(../images/tj_h.png) no-repeat;
	display:inline-block;
	margin-top:10px;
}
.gb_btn a {
	height:30px;
	width:65px;
	background:url(../images/gb.png) no-repeat;
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
}
.gb_btn a:hover {
	height:30px;
	width:65px;
	background:url(../images/gb_h.png) no-repeat;
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
}
.bc_btn a {
	height:30px;
	width:65px;
	background:url(../images/bc.png) no-repeat;
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
}
.bc_btn a:hover {
	height:30px;
	width:65px;
	background:url(../images/bc_h.png) no-repeat;
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
}
/*----24*24----*/
.gl a {
	height:24px;
	width:24px;
	background:url(../images/images/gl.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.gl a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/gl_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zj a {
	height:24px;
	width:24px;
	background:url(../images/images/zj.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zj a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/zj_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xg a {
	height:24px;
	width:24px;
	background:url(../images/images/xg.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xg a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/xg_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sc a {
	height:24px;
	width:24px;
	background:url(../images/images/sc.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sc a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/sc_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.ck a {
	height:24px;
	width:24px;
	background:url(../images/images/ck.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.ck a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/ck_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xq a {
	height:24px;
	width:24px;
	background:url(../images/images/xq.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xq a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/xq_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xz a {
	height:24px;
	width:24px;
	background:url(../images/images/xz.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xz a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/xz_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xq a {
	height:24px;
	width:24px;
	background:url(../images/images/xz.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.xq a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/xz_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qc a {
	height:24px;
	width:24px;
	background:url(../images/images/qc.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qc a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/qc_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.fh a {
	height:24px;
	width:24px;
	background:url(../images/images/fh.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.fh a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/fh_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.hz a {
	height:24px;
	width:24px;
	background:url(../images/images/hz.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.hz a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/hz_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jd a {
	height:24px;
	width:24px;
	background:url(../images/images/jd.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jd a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/jd_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sx a {
	height:24px;
	width:24px;
	background:url(../images/images/sx.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sx a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/sx_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jh a {
	height:24px;
	width:24px;
	background:url(../images/images/jh.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jh a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/jh_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.yd a {
	height:24px;
	width:24px;
	background:url(../images/images/yd.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.yd a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/yd_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sq a {
	height:24px;
	width:24px;
	background:url(../images/images/sq.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.sq a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/sq_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zk a {
	height:24px;
	width:24px;
	background:url(../images/images/zk.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zk a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/zk_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}

.dk a {
	height:24px;
	width:24px;
	background:url(../images/images/dk.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.dk a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/dk_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}

.px a {
	height:24px;
	width:24px;
	background:url(../images/images/px.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.px a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/px_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jl a {
	height:24px;
	width:24px;
	background:url(../images/images/jl.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jl a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/jl_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bcm a {
	height:24px;
	width:24px;
	background:url(../images/images/bcm.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bcm a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/bcm_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zr a {
	height:24px;
	width:24px;
	background:url(../images/images/zr.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.zr a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/zr_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}

.dc a {
	height:24px;
	width:24px;
	background:url(../images/images/dc.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.dc a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/dc_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.dr a {
	height:24px;
	width:24px;
	background:url(../images/images/dr.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.dr a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/dr_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bb a {
	height:24px;
	width:24px;
	background:url(../images/images/bb.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bb a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/bb_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qchu a {
	height:24px;
	width:24px;
	background:url(../images/images/qchu.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qchu a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/qchu_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qr a {
	height:24px;
	width:24px;
	background:url(../images/images/qr.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qr a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/qr_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bc a {
	height:24px;
	width:24px;
	background:url(../images/images/bc.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.bc a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/bc_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.cx a {
	height:24px;
	width:24px;
	background:url(../images/images/cx.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.cx a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/cx_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jt a {
	height:24px;
	width:24px;
	background:url(../images/images/jt.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.jt a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/jt_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.lw a {
	height:24px;
	width:24px;
	background:url(../images/images/lw.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.lw a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/lw_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.lw a {
	height:24px;
	width:24px;
	background:url(../images/images/lw.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.lw a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/lw_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qx a {
	height:24px;
	width:24px;
	background:url(../images/images/qx.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.qx a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/qx_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.cz a {
	height:24px;
	width:24px;
	background:url(../images/images/cz.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.cz a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/cz_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.tj a {
	height:24px;
	width:24px;
	background:url(../images/images/tj.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.tj a:hover {
	height:24px;
	width:24px;
	background:url(../images/images/tj_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}




.qd a {
	height:30px;
	width:65px;
	background:url(../images/qd.png) no-repeat;
	display:block;
	float:left;
	margin-top:6px;
	margin-left:32px;
	margin-bottom:6px;
}
.qd a:hover {
	height:30px;
	width:65px;
	background:url(../images/qd_h.png) no-repeat;
	display:block;
	float:left;
	margin-top:6px;
	margin-bottom:6px;
	margin-left:32px;
}
.cz_btn a {
	height:30px;
	width:65px;
	background:url(../images/cz.png) no-repeat;
	display:block;
	float:left;
	margin-top:6px;
	margin-left:32px;
	margin-bottom:6px;
}
.cz_btn a:hover {
	height:30px;
	width:65px;
	background:url(../images/cz_h.png) no-repeat;
	display:block;
	float:left;
	margin-top:6px;
	margin-left:32px;
	margin-bottom:6px;
}
.kb a {
	height:25px;
	width:23px;
	background:url(../images/kb.png) no-repeat;
	display:block;
	float:left;
	margin-top:2px;
}
.kb a:hover {
	height:25px;
	width:23px;
	background:url(../images/kb_h.png) no-repeat;
	display:block;
	float:left;
	margin-top:2px;
}
.gd a {
	height:25px;
	width:35px;
	background:url(../images/gd.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
.gd a:hover {
	height:25px;
	width:35px;
	background:url(../images/gd_h.png) no-repeat;
	display:block;
	float:right;
	margin-top:2px;
}
/*三期新做的图标样式的按钮 end*/
