@CHARSET "UTF-8";
/**表头固定*/
/*重点：固定行头样式*/  
.scrollRowThead   
{  
     position: relative;   
     left: expression(this.parentElement.parentElement.parentElement.parentElement.scrollLeft);  
     z-index:0;  
}  
   
/*重点：固定表头样式*/  
.scrollColThead {  
     position: relative;   
     top: expression(this.parentElement.parentElement.parentElement.scrollTop);  
     z-index:2;  
}  
 
.tab_info {
	FONT-SIZE: 12px;
	height:30px;
	border-left:  1px solid #bcd4ef;
	border-top:  1px solid #bcd4ef;
	line-height: 30px;
	width:100%;
	margin-top:0px;
	border-top-width: 0px;	
	
}
.tab_info TD {
	FONT-SIZE: 12px;
	height:30px;
	line-height: 30px;
	word-break:keep-all;
	white-space:nowrap;
	border-bottom: 1px solid #bcd4ef;
	border-right: 1px solid #bcd4ef;
}