<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	
	<!-- 生产周报数据抽取服务 -->
	<bean id="DataExtractSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.wr.DataExtractSrv"/>
		</property>
	</bean>
	<!-- 生产周报生成chart服务以及其他业务处理服务 -->
	<bean id="WeekRaoPicChartSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.wr.weekRaoPicChart.srv.WeekRaoPicChartSrv"/>
		</property>
	</bean>
</beans>
