<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 

http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 

http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 

http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
		
	<!-- 井中 施工方法srv -->
	<bean id="WsWorkMethodSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean  class="com.bgp.mcs.service.ws.pm.service.project.WsWorkMethodSrv" />
		</property>
	</bean>
	
	 <!-- 物化探 设计参数srv -->
	<bean id="WtWorkMethodSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.wt.pm.service.project.WtWorkMethodSrv" />
		</property>
	</bean>
	
	 <!-- 物化探 动迁申请srv -->
	<bean id="WtRelocationSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.wt.pm.service.project.WtRelocationSrv" />
		</property>
	</bean>
	

	<bean id="WsDailyReportAnalysisSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.ws.pm.service.project.WsDailyReportAnalysisSrv" />
		</property>
	</bean>
	
	
	<bean id="WsChartSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.chart.WsChartSrv" />
		</property>
	</bean>
	
	<bean id="WtResourceAssignmentSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.wt.pm.service.dailyReport.WtResourceAssignmentSrv" />
		</property>
	</bean>
	 
	 
	 	<bean id="WtDailyReportSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.wt.pm.service.dailyReport.WtDailyReportSrv" />
		</property>
	</bean>
	<!-- 物化探处理解释 -->
	<bean id="WtProinteSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.wt.prointe.WtProinteSrv" />
		</property>
	</bean>
	 
	 <bean id="WsDailyReportSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.ws.pm.service.dailyReport.WsDailyReportSrv" />
		</property>
	</bean>
	
	

</beans>
