<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	

	<bean id="DashboardSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.common.DashboardSrv"/>
		</property>
	</bean>	
	
	<bean id="A7Srv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.common.A7Srv"/>
		</property>
	</bean>	
	<!-- 获取下拉框option的服务 -->
	<bean id="CodeSelectOptionsSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.common.CodeSelectOptionsSrv"/>
		</property>
	</bean>		
	<!-- 首页仪表盘服务类 -->
	<bean id="DashbordSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.dash.srv.DashbordSrv"/>
		</property>
	</bean>	
	
	<!--excel导入导出-->
	<bean id="TsExcelExportImportSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.common.excelIE.srv.TsExcelExportImportSrv"/>
		</property>
	</bean>
	<!--备注操作-->
	<bean id="CommonRemarkSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.em.srv.CommonRemarkSrv"/>
		</property>
	</bean>
	<!-- 通知提醒服务       添加常用联系人 -->
	<bean id="NoticeSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.common.NoticeSrv"/>
		</property>
	</bean>
</beans>
