<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
	<!-- 主要设备基本情况统计分析服务 -->
	<bean id="MainEquiBasiStatSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.use.MainEquiBasiStatSrv"/>
		</property>
	</bean>
	<!-- 地震仪器动态情况统计分析服务 -->
	<bean id="DzyqStatSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.use.DzyqStatSrv"/>
		</property>
	</bean>
	<!-- 完好率利用率合并 -->
	<bean id="DeviceUseAndWholeSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.use.DeviceUseAndWholeSrv"/>
		</property>
	</bean>
	<!-- 机构设备利用率对比服务 -->
	<bean id="DeviceUseSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.use.DeviceUseSrv"/>
		</property>
	</bean>
	<!-- 设备资产创收 -->
	<bean id="AssetsIncomeSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.use.AssetsIncomeSrv"/>
		</property>
	</bean>
</beans>
