<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">

	<!-- 工作流服务 -->
	<bean id="workFlowSrv" class="com.bgp.mcs.service.pm.bpm.workFlow.srv.WorkFlowSrv"/>
	<bean id="workFlowBean" class="com.bgp.mcs.service.pm.bpm.workFlow.srv.WorkFlowBean"/>

	<bean id="WFCommonSrv" class="com.bgp.mcs.service.pm.bpm.workFlow.srv.WFCommonSrv"/>
	<bean id="WFCommonBean" class="com.bgp.mcs.service.pm.bpm.workFlow.srv.WFCommonBean"/>
	
	<bean id="wfAdvice"  class="com.bgp.mcs.service.pm.bpm.workFlow.srv.WFAroundAdvice"/>
	
	 <aop:aspectj-autoproxy proxy-target-class="true" />
</beans>
