<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
	   
	   
	 <!-- P6资源分配操作的Srv -->
	<bean id="P6ResourceAssignmentSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.p6.resource.resourceAssignment.ResourceAssignmentSrv"/>
		</property>
	</bean>
	
	<!-- P6资源分配操作的MCS Bean -->
	<bean id="P6ResourceAssignmentMCSBean" class="com.bgp.mcs.service.pm.service.p6.resource.resourceAssignment.ResourceAssignmentMCSBean">
	</bean>
	
	<!-- P6资源分配操作的WS -->
	<bean id="P6ResourceAssignmentWSBean" class="com.bgp.mcs.service.pm.service.p6.resource.resourceAssignment.ResourceAssignmentWSBean">
	</bean>
	
	<!-- P6任务关联关系操作的WS -->
	<bean id="P6RelationshipWSBean" class="com.bgp.mcs.service.pm.service.p6.activity.relationship.RelationshipWSBean">
	</bean>
	<!-- P6WbsMCSBean操作的MCS -->
	<bean id="P6WbsMCSBean" class="com.bgp.mcs.service.pm.service.p6.wbs.WbsMCSBean"></bean>
	
	<!-- P6任务操作的WS -->
	<bean id="P6ActivityWSBean" class="com.bgp.mcs.service.pm.service.p6.activity.ActivityWSBean">
	</bean>
	<!-- P6任务操作的MCS -->
	<bean id="P6ActivityMCSBean" class="com.bgp.mcs.service.pm.service.p6.activity.ActivityMCSBean">
	</bean>
	<!-- P6JobWSBean操作的WS -->
	<bean id="P6JobWSBean" class="com.bgp.mcs.service.pm.service.p6.job.JobWSBean">
	</bean>
	<!-- P6wbs操作的WS -->
	<bean id="P6WbsWSBean" class="com.bgp.mcs.service.pm.service.p6.wbs.WbsWSBean">
	</bean>
	
	<!-- P6操作作业的分类码的WS -->
	<bean id="P6ActivityCodeAssignmentWSBean" class="com.bgp.mcs.service.pm.service.p6.activity.activitycodeassignment.ActivityCodeAssignmentWSBean">
	</bean>
	
	
	<!-- P6ProjectMCSBean操作的MCS -->
	<bean id="P6ProjectMCSBean" class="com.bgp.mcs.service.pm.service.p6.project.ProjectMCSBean">
	</bean>
	
	<!-- P6BaseLineProjectWSBean操作的WS -->
	<bean id="P6BaselineProjectWSBean" class="com.bgp.mcs.service.pm.service.p6.project.baselineproject.BaselineProjectWSBean">
	</bean>
	
	<!-- P6ProjectWSBean操作的WS -->
	<bean id="P6ProjectWSBean" class="com.bgp.mcs.service.pm.service.p6.project.ProjectWSBean">
	</bean>
	
	<!-- P6CalendarWSBean操作的WS -->
	<bean id="P6CalendarWSBean" class="com.bgp.mcs.service.pm.service.p6.global.Calendar.CalendarWSBean">
	</bean>
	
	<!-- WorkloadMCSBean操作的MCS -->
	<bean id="P6WorkloadMCSBean" class="com.bgp.mcs.service.pm.service.p6.resource.resourceAssignment.workload.WorkloadMCSBean">
	</bean>
	
	<!-- P6UDFValueWSBean操作的WS -->
	<bean id="P6UDFValueWSBean" class="com.bgp.mcs.service.pm.service.p6.code.UDFValueWSBean">
	</bean>
	
	<!-- P6BaseLineProjectWSBean操作的MCS -->
	<bean id="P6BaselineProjectMCSBean" class="com.bgp.mcs.service.pm.service.p6.project.baselineproject.BaselineProjectMCSBean">
	</bean>
	
	 <!-- P6项目信息的Srv -->
	<bean id="P6ProjectSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.p6.project.ProjectSrv"/>
		</property>
	</bean>
	<!-- 工作量分配Srv -->
	<bean id="WorkloadSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.p6.resource.resourceAssignment.workload.WorkloadSrv"/>
		</property>
	</bean>
		<!-- 编制项目计划Srv -->
	<bean id="P6ProjectPlanSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.P6ProjectPlanSrv"/>
		</property>
	</bean>
	
</beans>
