
/* general styles */

.tab_info td{
	font:100% Arial, Helvetica, sans-serif; 
	line-height: 30px;
	border:1px solid #fff;
}

th{
	background:#1E90FF;color:#fff;
	}
th{text-align:center;padding:.5em;border:1px solid #fff;}
/* tablecloth styles */

.odd_panel{
	background: #C0C0C0;
}
.even_panel{
	background:#DCDCDC;
}

.tab_info {
	FONT-SIZE: 12px;
	height:30px;
	BORDER: #aebbcb 1px solid;
	line-height: 30px;
	width:100%;
	margin-top:2px;
}
.tab_info TD {
	FONT-SIZE: 12px;
	height:30px;
	line-height: 30px;
	word-break:keep-all;
	white-space:nowrap;
}

.bt_info_odd {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#96baf6
}
.bt_info_even {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#a4c7ff
}

#list_content123 {
	width:auto;
	height:auto;
	background:#cdddef;
	margin-left:10px;
	margin-top:10px;
	/*margin-top:42px\9;
	margin-top:42px\0;
    *margin-top:42px;
	_margin-top:42px;*/
}

.tongyong_box123 {
	width:100%;
	height:auto;
	float:left;
	border:1px #aebccb solid;
	color:#666;
	font-weight:normal;
	font-size:13px;
	margin:0 auto;
	text-align:center;
	margin-bottom:8px;
}	
	
.tongyong_box_title123 {
	width:100%;
	height:auto;
	background:#8097c1;
	text-align:left;
	text-indent:12px;
	font-weight:bold;
	font-size:14px;
	color:#FFF;
	line-height:28px;
}	

.tongyong_box_content_left123 {
	width:100%;
	height:auto;
	background:#eaf1f9;
	overflow:auto;
}
.kb a {
	height:25px;
	width:23px;
	background:url(../../images/kb.png) no-repeat;
	display:block;
	float:left;
	margin-top:2px;
}
.kb a:hover {
	height:25px;
	width:23px;
	background:url(../../images/kb_h.png) no-repeat;
	display:block;
	float:left;
	margin-top:2px;
}
.tongyong_box_title123 a {
	color:#FFF;
	text-decoration : none;
}
.tongyong_box_title123 a:hover {
	color:#0753ca;
	text-decoration : none;
}
