<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd" >
<beans>

	<bean id="TempoDevQuartz"
		class="com.bgp.dms.tempoQuartz.TempoDevQuartz" />

	<!-- 指定任务的类，方法,是否可同步(即上次为执行完毕的方法是否可以继续执行，true，允许) -->
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="TempoDevQuartz"></property>
		<property name="targetMethod" value="insert"></property>
		<property name="concurrent" value="false"></property>
	</bean>

	<!-- 设置任务的启动时机(任务触发器) -->
	<bean id="complainCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail"></property>
		<!-- 表达式 (秒 分 时 日 月 周 年)日与周不可以同时出现 ,年可省略 表示：每月的最后一天的23:59:59触发任务 -->
		<property name="cronExpression" value="0 45 2 * * ? *"></property>
	</bean>

	<!-- 触发器的调度工厂,可以调度多个任务触发器 -->
	<bean id="complainScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="complainCronTrigger" />
			</list>
		</property>
	</bean>
</beans>