<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	
	   

	<bean id="WFMgr" class="com.cnpc.sais.bpm.WFMgr">
    	<description>工作流服务</description>
	</bean>
	
	<!-- 流程实例设置 *******************************************-->
	<bean id="ProcInst" class="com.cnpc.sais.bpm.runtime.entity.inst.ProcInstEntity">
    	<property name="procInstService" ref="ProcInstService"/>
    	<property name="procDefineService" ref="ProcDefineService"/>
 	</bean>
	<bean id="ProcInstSrv"  parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.ProcInstSrv"></bean>
		</property>
	</bean>	
   <bean id="ProcInstService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.ProcInstService">
				<property name="procInstDAO" ref="ProcInstDAO"/>
				<property name="tokenInstDAO" ref="TokenInstDAO"/>
				<property name="taskInstDAO" ref="TaskInstDAO"/>
				<property name="examineinstDAO" ref="ExamineinstDAO"/>
				<property name="variableinstDAO" ref="VariableinstDAO"/>
				<property name="procinstCopyDAO" ref="ProcinstCopyDAO"/>
			</bean>
		</property>
	</bean>	
	
	<bean id="ProcInstDAO" class="com.cnpc.sais.bpm.dao.ProcInstDAO">
    	<description>流程实例Dao</description>
	</bean>
	
	<!-- ******************************************************-->
    <!-- 令牌实例设置 *******************************************-->
    <bean id="TokenInst" class="com.cnpc.sais.bpm.runtime.entity.inst.TokenInstEntity">
    	<property name="tokenInstService" ref="TokenInstService"/>
	</bean>
	
   <bean id="TokenInstService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.TokenInstService">
				<property name="tokenInstDAO" ref="TokenInstDAO"/>
			</bean>
		</property>
	</bean>	
	
	<bean id="TokenInstDAO" class="com.cnpc.sais.bpm.dao.TokenInstDAO">
    	<description>令牌DAO</description>
	</bean>	
	
  
	<!-- *****************************************************-->
	<!-- 任务实例设置 *******************************************-->
    <bean id="TaskInst" class="com.cnpc.sais.bpm.runtime.entity.inst.TaskInstEntity">
    	<property name="taskInstService" ref="TaskInstService"/>
	</bean>
	
   <bean id="TaskInstService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.TaskInstService">
				<property name="taskInstDAO" ref="TaskInstDAO"/>
				<property name="examineinstDAO" ref="ExamineinstDAO"/>
			</bean>
		</property>
	</bean>	
	
	<bean id="TaskInstDAO" class="com.cnpc.sais.bpm.dao.TaskInstDAO">
    	<description>任务DAO</description>
	</bean>	

	 <!-- *****************************************************-->
	 <!-- 审批实例设置 *******************************************-->
	  <bean id="Examineinst" class="com.cnpc.sais.bpm.runtime.entity.inst.ExamineinstEntity">
    	<property name="examineinstService" ref="ExamineinstService"/>
	</bean>
	
   <bean id="ExamineinstService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.ExamineinstService">
				<property name="examineinstDAO" ref="ExamineinstDAO"/>
				<property name="procInstDAO" ref="ProcInstDAO"/>
				<property name="taskInstDAO" ref="TaskInstDAO"/>
			</bean>
		</property>
	</bean>	
	 
	<bean id="ExamineinstDAO" class="com.cnpc.sais.bpm.dao.ExamineinstDAO">
    	<description>审批实例DAO</description>
	</bean>	
	
	 <!-- *****************************************************-->
	 <!-- 流程实例变量设置 ***************************************-->
	 
	 <bean id="VariableinstDAO" class="com.cnpc.sais.bpm.dao.VariableinstDAO">
    	<description>流程实例变量设置</description>
	</bean>	
	 
	  <!-- *****************************************************-->
	  <!-- 流程实例抄送设置 ***************************************-->
	 
	 <bean id="ProcinstCopyDAO" class="com.cnpc.sais.bpm.dao.ProcinstCopyDAO">
    	<description>流程实例抄送设置</description>
	</bean>	
	 
	  <!-- *****************************************************-->
	  
	  <!-- 流程模板定义设置 ***************************************-->
	 <bean id="ProcDefineService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.ProcDefineService">
		    	<property name="procdefineDAO" ref="ProcdefineDAO"/>
				<property name="nodeDAO" ref="NodeDAO"/>
				<property name="nodeAttributeDAO" ref="NodeAttributeDAO"/>
				<property name="transitionDAO" ref="TransitionDAO"/>
				<property name="taskDefineDAO" ref="TaskDefineDAO"/>
				<property name="examineuserDAO" ref="ExamineuserDAO"/>
				<property name="procInstDAO" ref="ProcInstDAO"/>
				<property name="backNodeDAO" ref="IBackNodeDAO"/>
			</bean>
		</property>
	</bean>	
	<bean id="wfLExternporcService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.WfLExternporcService">
				<property name="link" ref="LinkDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="WfLSyncsysService" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.bpm.service.WfLSyncsysService">
				<property name="link" ref="LinkDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="LinkDAO" class="com.cnpc.sais.bpm.dao.LinkDao">
    	<description>Link流程Dao</description>
	</bean>
	 <bean id="ProcdefineDAO" class="com.cnpc.sais.bpm.dao.ProcdefineDAO">
    	<description>流程定义DAO</description>
	</bean>	
	<bean id="NodeDAO" class="com.cnpc.sais.bpm.dao.NodeDAO">
    	<description>节点DAO</description>
	</bean>	
	<bean id="NodeAttributeDAO" class="com.cnpc.sais.bpm.dao.NodeAttributeDAO">
    	<description>节点属性DAO</description>
	</bean>	
	<bean id="TransitionDAO" class="com.cnpc.sais.bpm.dao.TransitionDAO">
    	<description>节点连线DAO</description>
	</bean>	
	<bean id="TaskDefineDAO" class="com.cnpc.sais.bpm.dao.TaskDefineDAO">
    	<description>TaskDAO</description>
	</bean>
	<bean id="ExamineuserDAO" class="com.cnpc.sais.bpm.dao.ExamineuserDAO">
    	<description>节点用户审批定义DAO</description>
	</bean>	
	<bean id="IBackNodeDAO" class="com.cnpc.sais.bpm.dao.BackNodeDAO">
    	<description>节点用户审批定义DAO</description>
	</bean>	
</beans>
