@charset "utf-8";
/* CSS Document */
.tab_info {
	FONT-SIZE: 12px;
	height:30px;
	border-left:  1px solid #bcd4ef;
	border-top:  1px solid #bcd4ef;
	line-height: 30px;
	width:100%;
	margin-top:2px;
}
.tab_info TD {
	FONT-SIZE: 12px;
	height:30px;
	line-height: 30px;
	word-break:keep-all;
	white-space:nowrap;
	border-bottom: 1px solid #bcd4ef;
	border-right: 1px solid #bcd4ef;
}
.bt_info {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#DCEEFA;
}
.bt_info_odd {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#DCEEFA;
}
.bt_info_even {
	FONT-SIZE: 12px;
	COLOR: #296184;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
	background:#DCEEFA;
}
/*奇数行奇数列样式*/
.odd_odd {
	FONT-SIZE: 12px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #ffffff ;
	padding:0 5px;
}
/*奇数行偶数列样式*/
.odd_even {
	FONT-SIZE: 12px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #ffffff ;
	padding:0 5px;
}
/*偶数行奇数列样式*/
.even_odd {
	FONT-SIZE: 12px;
	FONT-FAMILY: "微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	BACKGROUND-COLOR: #e7f2ff;
	padding:0 5px;
}
/*偶数行偶数列样式*/
.even_even {
	FONT-SIZE: 12px;
	FONT-FAMILY: "微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	BACKGROUND-COLOR: #e7f2ff;
	padding:0 5px;
}
/*奇数行样式*/
.odd {
	FONT-SIZE: 12px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	BACKGROUND-COLOR: #e7f2ff;
	padding:0 5px;
}
/*偶数行样式*/
.even {
	FONT-SIZE: 12px;
	FONT-FAMILY: "微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #ffffff ;
	padding:0 5px;
}

/*----------fenye-------------*/
#fenye_box {
	width:100%;
	height:28px;
	margin-top:1px;
	font:normal 12px/28px "微软雅黑";
	color:#296184;
	background: url(../images/biaobottom-bg.jpg);
	margin-top:-1px;
}