BODY {
FONT-SIZE: 12px; }
OL LI {
MARGIN: 8px
}
#con {
FONT-SIZE: 12px; MARGIN: 0px auto; margin-top:5px; WIDTH: auto
}
#tags {
PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 0px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: 30px;
}
#tags LI {
/* BACKGROUND: url(../images/tag/daohang1.png); */ FLOAT: left; MARGIN-RIGHT: 10px; LIST-STYLE-TYPE: none; HEIGHT: 27px; text-align : center;
}
#tags LI A {
FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #999;LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-DECORATION: none; color:#0B49A0; width: 71px;font-size: 14px;font-weight: bold;
}
#tags LI.emptyTag {
BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px;
}
#tags LI.selectTag {
/* BACKGROUND: url(../images/tag/daohang2.png); */
MARGIN-BOTTOM: 0px; POSITION: relative; HEIGHT: 27px
}
#tags LI.selectTag A {
COLOR: #000; LINE-HEIGHT: 24px; HEIGHT: 24px; color:#fff; font-weight:bold;
BACKGROUND-COLOR: #3D81AE;margin-top: 3px;
}
#tagContent {
 PADDING-RIGHT: 0px; BORDER: #aecbd4 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP:0px; BACKGROUND-COLOR: #fff
}
.tagContent {
PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; BACKGROUND: url(../images/tag/bg.gif) repeat-x; PADDING-BOTTOM: 10px; WIDTH: 450px; COLOR: #474747; PADDING-TOP: 10px; HEIGHT: 290px
}
#tagContent DIV.selectTag {
DISPLAY: block
}
#conttt {
 PADDING-RIGHT: 1px; BORDER: #aecbd4 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP:1px; BACKGROUND-COLOR: #fff
}
