<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
	   
	 <!-- 项目信息的Srv -->
	 
	 <!-- 三期项目信息的Srv -->
	<bean id="ProjectSrvOld"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.ProjectSrvOld"/>
		</property>
	</bean>
	
	<!-- 三期日报信息的Srv -->
	<bean id="DailyReportSrvOld"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.dailyReport.DailyReportSrvOld"/>
		</property>
	</bean>
	   
	 <!-- 项目信息的Srv -->
	<bean id="ProjectSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.ProjectSrv"/>
		</property>
	</bean>
	
	<!-- 项目操作的MCS Bean -->
	<bean id="ProjectMCSBean" class="com.bgp.mcs.service.pm.service.project.ProjectMCSBean">
	</bean>
	
	<!-- 分类码srv -->
	<bean id="ProjectCodeSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.projectCode.ProjectCodeSrv"/>
		</property>
	</bean>
	
	<!-- 请示报告srv -->
	<bean id="ConsultReportSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.consult.ConsultReportSrv"/>
		</property>
	</bean>
	
	<!-- 施工方法srv -->
	<bean id="WorkMethodSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.WorkMethodSrv"/>
		</property>
	</bean>
	<!-- 设计边框srv -->
	<bean id="BorderDesignSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.BorderDesignSrv"/>
		</property>
	</bean>
	<!-- 线束设计srv -->
	<bean id="LineGroupDesignSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.LineGroupDesignSrv"/>
		</property>
	</bean>
	<!-- 线束设计文件导入srv -->
	<bean id="LineExcelImpSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.LineExcelImpSrv"/>
		</property>
	</bean>
	<!-- 数据库表查询srv -->
	<bean id="DBDataSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.DBDataService"/>
		</property>
	</bean>
	<!-- 项目动态报表Srv -->
	<bean id="ProjectDynamicSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.ProjectDynamicSrv"/>
		</property>
	</bean>
	<!-- 队伍动态报表Srv -->
	<bean id="TeamDynamicSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.TeamDynamicSrv"/>
		</property>
	</bean>
	<!-- 工作量统计Srv -->
	<bean id="WorkloadStatisticsSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.WorkloadStatisticsSrv"/>
		</property>
	</bean>
	
	<!-- 三期日报数据分析Srv -->
	<bean id="DailyReportAnalysisSrvOld"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.DailyReportAnalysisSrvOld"/>
		</property>
	</bean>
	
	<!-- 日报数据分析Srv -->
	<bean id="DailyReportAnalysisSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.DailyReportAnalysisSrv"/>
		</property>
	</bean>
	<!-- 设计SPS Srv -->
	<bean id="DesignSpsSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.DesignSpsSrv"/>
		</property>
	</bean>
	<!-- 时效分析 Srv -->
	<bean id="AgingAnalysisSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.AgingAnalysisSrv"/>
		</property>
	</bean>
	<!-- 测量测算 Srv -->	
	<bean id="MeasureSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.MeasureSrv"/>
		</property>
	</bean>
	<!-- 日报录入srv -->
	<bean id="InputDailyProgressSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.InputDailyProgressSrv"/>
		</property>
	</bean>
	
	
	
	<!-- 井中项目操作的MCS Bean -->
	<bean id="WsProjectMCSBean" class="com.bgp.mcs.service.pm.service.project.WsProjectMCSBean"></bean>
	
	<!-- 井中项目信息Srv -->
	<bean id="WsProjectSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.WsProjectSrv"/>
		</property>
	</bean>
	 
	<!-- 综合物化探项目操作的MCS Bean -->
	<bean id="WtProjectMCSBean" class="com.bgp.mcs.service.pm.service.project.WtProjectMCSBean"></bean>
	
	<!-- 综合物化探项目信息Srv -->
	<bean id="WtProjectSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.pm.service.project.WtProjectSrv"/>
		</property>
	</bean>
	
	
	<!-- 根据登录ID查询选择项目Srv -->
	<bean id="ChoosenProjectSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.op.util.ChoosenProjectSrv"/>
		</property>
	</bean>
</beans>
