<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	

	<!-- 设备信息查看、维护操作服务 -->
	<bean id="DevCommInfoSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevCommInfoSrv"/>
		</property>
	</bean>
	<!-- 设备信息查看、维护操作服务 (装备作业部申请地震仪器、震源、测量) -->
	<bean id="DevCommSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevCommSrv"/>
		</property>
	</bean>
	<!-- 设备维修相关服务类 -->
	<bean id="DevRepairSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevRepairSrv"/>
		</property>
	</bean>
	<!-- 设备流程申请的服务 -->
	<bean id="DevFlowInfoSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevFlowInfoSrv"/>
		</property>
	</bean>
	<!-- 设备调剂的服务 -->
	<bean id="DispensingDevSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DispensingDevSrv"/>
		</property>
	</bean>
	<!-- 地震队设备统计的服务 -->
	<bean id="EarthquakeTeamStatistics" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.EarthquakeTeamStatistics"/>
		</property>
	</bean>
	<!-- 设备检查的服务 -->
	<bean id="DevInsSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevInsSrv"/>
		</property>
	</bean>
	<!-- 设备后台操作管理服务 -->
	<bean id="DevProSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevProSrv"/>
		</property>
	</bean>
	<!-- 设备体系考核服务 -->
	<bean id="AssessPlatServ" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.assess.AssessPlatServ"/>
		</property>
	</bean>
	<!-- 设备提醒相关服务 -->
	<bean id="DevCommRemind" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.dm.DevCommRemind"/>
		</property>
	</bean>
</beans>
