<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
	   
	<!-- 设备统计分析服务 -->
	<bean id="DeviceAnalSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.device.DeviceAnalSrv"/>
		</property>
	</bean>
	<!-- 设备利用率图表 -->
	<bean id="DeviceUseRateSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.device.DeviceUseRateSrv"/>
		</property>
	</bean>
	<!-- 设备新度系数图表 -->
	<bean id="DeviceNewExtentSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.device.DeviceNewExtentSrv"/>
		</property>
	</bean>
	<!-- 设备出勤率统计分析服务 -->
	<bean id="DeviceAtteSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.dms.device.DeviceAtteSrv"/>
		</property>
	</bean>
	
</beans>
