<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	
	
	<!-- MyUcm类的实例 -->
	<bean id="myUcm" class="com.bgp.mcs.service.doc.service.MyUcm">
				
	</bean>
	
	
	<!-- 操作ucm的Srv -->
	<bean id="ucmSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.doc.service.UcmSrv"/>
		</property>
	</bean>
	<bean id="TdDocServiceSrv"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.td.srv.TdDocServiceSrv"/>
		</property>
	</bean>
	
	<!-- 从本地服务器上传文档的Srv -->
	<bean id="ucmSrvNew"
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.doc.service.UcmSrvNew"/>
		</property>
	</bean>
	
	<!-- 井中、综合物化探技术管理 -->
	<bean id="WsTecnicalBasicSrv" parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.td.srv.WsTecnicalBasicSrv"/>
		</property>
	</bean>
</beans>
