<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	


	<!-- chart服务 -->
	<bean id="HumanChartServiceSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.em.srv.HumanChartServiceSrv"/>
		</property>
	</bean>
	<!-- 人员信息查看操作服务 -->
	<bean id="HumanCommInfoSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.em.srv.HumanCommInfoSrv"/>
		</property>
	</bean>
    <!-- 临时工信息查看操作服务 -->
	<bean id="HumanLaborMessageSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.em.srv.HumanLaborMessageSrv"/>
		</property>
	</bean>
	<!-- 物探处人员申请操作服务 -->
	<bean id="HumanRequiredSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.gms.service.rm.em.srv.HumanRequiredSrv"/>
		</property>
	</bean>
	<aop:aspectj-autoproxy proxy-target-class="true" />
</beans>
