<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">	
	<!--crm系统集成-->
	<bean id="CrmIntSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.crm.CrmIntSrv"/>
		</property>
	</bean>
	<!--技术知识库-->
	<bean id="MarketInfoInputSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.ma.marketInfoInput.MarketInfoInputSrv"/>
		</property>
	</bean>
	<!-- 市场信息平台展示页面服务 -->
	<bean id="MarketGetInfoSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.ma.showMainFrame.srv.MarketGetInfoSrv"/>
		</property>
	</bean>
	<!--客户关系管理-->
	<bean id="ClientRelationSrv" 
		parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.bgp.mcs.service.ma.crm.service.ClientRelationSrv"/>
		</property>
	</bean>
</beans>
