@charset "utf-8";
/* CSS Document */

/* asset */
.register_percent{ width:428px; height:250px; margin-right:20px;margin-bottom:10px;}
.register_situation{ width:508px;height:250px;margin-bottom:10px;}
.register_top10{ width:428px;margin-right:20px;}
.register_trend{ width:508px;}

.anti_virus_percent{ width:388px; margin-right:20px;}
.anti_virus_situation{ width:548px;}
.anti_virus_top10{ width:388px; margin-right:20px;}
.anti_virus_trend{ width:548px;}

.hardware_cpu{ width:300px; margin-right:20px;}
.hardware_harddisk{ width:300px; margin-right:20px;}
.hardware_memory{ width:300px;}
.hardware_total{ width:940px;}

.software_wrap{ width:300px; margin-right:20px;}



/* monitor */
.virus_monitor_softChooseTotal{ width:460px; margin-right:20px;}
.virus_monitor_top10{ width:460px; margin-right:20px;}
.virus_monitor_softChoosePart{ width:940px; margin-right:20px;}

.virus_base_wrap{ width:300px; margin-right:20px;}

.trouble_link_numberTotal{ width:300px; margin-right:20px;} /* monitor/trouble_link.html; warning/trouble_link.html */
.trouble_link_numberPart{ width:620px; margin-right:20px;}
.trouble_link_trendYear{ width:460px; margin-right:20px;}
.trouble_link_trendMouth{ width:460px; margin-right:20px;}

.trouble_software_computerTotal{ width:300px; margin-right:20px;}
.trouble_software_computerPart{ width:620px; margin-right:20px;}
.trouble_software_numberTotal{ width:300px; margin-right:20px;}
.trouble_software_numberPart{ width:620px; margin-right:20px;}
.trouble_software_trendYear{ width:460px; margin-right:20px;}
.trouble_software_trendMouth{ width:460px; margin-right:20px;}

.weekness_sysPort_numberTotal{ width:300px; margin-right:20px;} /* monitor/weekness_sysPort.html; warning/weekness_sysPort.html */
.weekness_sysPort_numberPart{ width:620px; margin-right:20px;}
.weekness_sysPort_trendYear{ width:460px; margin-right:20px;}
.weekness_sysPort_trendMouth{ width:460px; margin-right:20px;}

.equipment_change_numberTotal{ width:300px; margin-right:20px;}
.equipment_change_numberPart{ width:620px; margin-right:20px;}
.equipment_change_trendYear{ width:460px; margin-right:20px;}
.equipment_change_trendMouth{ width:460px; margin-right:20px;}

.IP_bind_numberTotal{ width:300px; margin-right:20px;}
.IP_bind_numberPart{ width:620px; margin-right:20px;}
.IP_bind_trendYear{ width:460px; margin-right:20px;}
.IP_bind_trendMouth{ width:460px; margin-right:20px;}

.dataflow_numberTotal{ width:300px; margin-right:20px;} /* monitor/dataflow.html; warning/dataflow.html */
.dataflow_numberPart{ width:620px; margin-right:20px;}
.dataflow_trendYear{ width:460px; margin-right:20px;}
.dataflow_trendMouth{ width:460px; margin-right:20px;}

.sensitive_info_numberTotal{ width:300px; margin-right:20px;}
.sensitive_info_numberPart{ width:620px; margin-right:20px;}
.sensitive_info_trendYear{ width:460px; margin-right:20px;}
.sensitive_info_trendMouth{ width:460px; margin-right:20px;}

.patch_wrap{ width:300px; margin-right:20px;}

.reglist_numberTotal{ width:300px; margin-right:20px;}
.reglist_numberPart{ width:620px; margin-right:20px;}
.reglist_trendYear{ width:460px; margin-right:20px;}
.reglist_trendMouth{ width:460px; margin-right:20px;}

.user_right_numberTotal{ width:300px; margin-right:20px;}
.user_right_numberPart{ width:620px; margin-right:20px;}
.user_right_trendYear{ width:460px; margin-right:20px;}
.user_right_trendMouth{ width:460px; margin-right:20px;}

.sys_user_numberTotal{ width:300px; margin-right:20px;}
.sys_user_numberPart{ width:620px; margin-right:20px;}
.sys_user_trendYear{ width:460px; margin-right:20px;}
.sys_user_trendMouth{ width:460px; margin-right:20px;}

