@charset "utf-8";
/* CSS Document */

/* ===================== css reset start ===================== */
body,div,form,table,img,ul,ol,li,dl,dt,dd,h1,h2,h3,a{margin:0;padding:0;border:0;background:none;}
body,h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{cursor:pointer;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{cursor:pointer;}
iframe{border:none;}
.clear{clear:both; height:0px; overflow:hidden;}
.ac{text-align:center;}
.al{text-align:left;}
.ar{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.noDisplay{display:none;}