<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd" >
<beans>
	<!-- 
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduleLoadAuthCacheTimerTask" />
			</list>
		</property>
	</bean> 
    -->
	
	<!-- 权限刷新功能， 服务器启动延迟1秒钟执行，间隔2分钟
	<bean id="scheduleLoadAuthCacheTimerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="loadAuthCacheTimerTask" />
		<property name="period">
			<value>120000</value>
		</property>
		<property name="delay">
			<value>1000</value>
		</property>
	</bean>
	-->
	<!-- 
	<bean id="loadAuthCacheTimerTask"  parent="hibernateTransactionProxy">
		<property name="target">
			<bean class="com.cnpc.sais.ibp.auth2.util.LoadAuthCacheTimerTask"></bean>
		</property>
	</bean>	 
	-->
</beans>