@charset "utf-8";
/* CSS Document */
/* ===================== css reset start ===================== */
body,div,form,table,img,ul,ol,li,dl,dt,dd,h1,h2,h3,a{margin:0;padding:0;border:0;background:none;}
body,h1,h2,h3,h4,h5,h6{font-size:12px;font-family:'Î¢ÈíÑÅºÚ',"arial","sans-serif";font-weight:normal;}
input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{cursor:pointer;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{cursor:pointer;}
.clear{clear:both; height:0px; overflow:hidden;}
.ac{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.noDisplay{display:none;}
.color_red{color:#F00;}


/* ===================== css reset end ===================== */

.bgColor{ background:#bfc0c0;}
.bgColor_f3f3f3{ background:#f3f3f3;}

.btn{ margin:0; padding:0; border:0;}
.btn_more{}
.btn_normal{ width:90px; height:24px; background:url(../../img/gb/btn_normal.png) no-repeat; color:#fff; font-weight:bold;}
.btn_normal:hover{ background:url(../../img/gb/btn_normal_h.png) no-repeat;}
.btn_clear{ width:90px; height:24px; background:url(../../img/gb/btn_clear.png) no-repeat;}
.btn_clear:hover{ background:url(../../img/gb/btn_clear_h.png) no-repeat;}
.btn_login{ width:90px; height:24px; background:url(../img/btn_login.png) no-repeat;}
.btn_login:hover{ background:url(../../img/gb/btn_login_h.png) no-repeat;}

#dialog{ overflow:hidden;}
.frame_table{ width:100%;}
.frame_dialog{ width:100%; height:100%;}
.frame_header{}
.frame_nav{ width:261px;}
.frame_ctt{}

iframe{ border:none;}
iframe#header{ width:100%; height:70px;}
iframe#nav{}
iframe#ctt{}

.header{ height:70px; min-width:960px; background:url(../../img/gb/header_bg.png) repeat-x;}
.header img.logo{ }
.header .user_info{ margin-top:25px; }
.header .user_info img{ vertical-align:middle;}
.header .btn{ margin-top:20px; }
.header .btn a{ display:inline-block; margin:0 5px;}
.header .btn a.btn_about{ background:url(../../img/gb/header_btn_about.png) no-repeat; width:24px; height:24px;}
.header .btn a.btn_about:hover{ background:url(../../img/gb/header_btn_about_h.png) no-repeat;}
.header .btn a.btn_help{ background:url(../../img/gb/header_btn_help.png) no-repeat; width:24px; height:24px;}
.header .btn a.btn_help:hover{ background:url(../../img/gb/header_btn_help_h.png) no-repeat;}
.header .btn a.btn_quit{ background:url(../../img/gb/header_btn_quit.png) no-repeat; width:90px; height:24px;}
.header .btn a.btn_quit:hover{ background:url(../../img/gb/header_btn_quit_h.png) no-repeat;}

.wrap{ border-radius:8px; box-shadow:1px 1px 3px #666;}
.wrap .tt{ height:30px; background:url(../../img/gb/wrap_tt_bg_tm.png) repeat-x; border:#333 1px solid; border-radius:8px 8px 0 0;}
.wrap .tt h2{ color:#fff; font-size:14px; font-weight:bold; line-height:30px; padding:0 15px;}
.wrap .ctt{ padding-bottom:10px; background:#f3f3f3; border:#333 1px solid; border-radius:0 0 8px 8px;}

.searchBar{ min-width:540px; margin-bottom:10px;}
.searchBar .ctt{ padding:5px 10px;}
.searchList select{ margin:0 5px;}
.searchList input{ margin:0 5px;}
.searchBtn selcet{ margin:0 5px;}
.searchBtn input{ margin:0 5px;}
.searchBtn{ padding:2px 0;}
.searchBar .btn_search{ background:url(../../img/gb/btn_search.png) no-repeat; width:90px; height:24px;}
.searchBar .btn_search:hover{ background:url(../../img/gb/btn_search_h.png) no-repeat;}
.searchBar .btn_addSR{ background:url(../../img/gb/btn_addRow.png) no-repeat; width:24px; height:24px;}
.searchBar .btn_addSR:hover{ background:url(../../img/gb/btn_addRow_h.png) no-repeat;}
.searchBar .btn_delSR{ background:url(../../img/gb/btn_delRow.png) no-repeat; width:24px; height:24px;}
.searchBar .btn_delSR:hover{ background:url(../../img/gb/btn_delRow_h.png) no-repeat;}

.searchBar_dialog{ margin-bottom:10px; background:#ccc;}
.searchBar_dialog .ctt{ padding:5px 10px;}
.searchBar_dialog .searchList select{ margin:0 5px;}
.searchBar_dialog .searchList input{ margin:0 5px;}
.searchBar_dialog .searchBtn selcet{ margin:0 5px;}
.searchBar_dialog .searchBtn input{ margin:0 5px;}
.searchBar_dialog .searchBtn{ padding:2px 0;}
.searchBar_dialog .btn_search{ background:url(../../img/gb/btn_search.png) no-repeat; width:90px; height:24px;}
.searchBar_dialog .btn_search:hover{ background:url(../../img/gb/btn_search_h.png) no-repeat;}
.searchBar_dialog .btn_addSR{ background:url(../../img/gb/btn_addRow.png) no-repeat; width:24px; height:24px;}
.searchBar_dialog .btn_addSR:hover{ background:url(../../img/gb/btn_addRow_h.png) no-repeat;}
.searchBar_dialog .btn_delSR{ background:url(../../img/gb/btn_delRow.png) no-repeat; width:24px; height:24px;}
.searchBar_dialog .btn_delSR:hover{ background:url(../../img/gb/btn_delRow_h.png) no-repeat;}

.dialog_txt{ text-align:center; margin-top:20px;}
.dialog_txt img{ vertical-align:middle;}
.btn_yes{ background:url(../../img/gb/btn_yes.png) no-repeat; width:60px; height:24px;}
.btn_yes:hover{ background:url(../../img/gb/btn_yes_h.png) no-repeat;}
.btn_no{ background:url(../../img/gb/btn_no.png) no-repeat; width:60px; height:24px;}
.btn_no:hover{ background:url(../../img/gb/btn_no_h.png) no-repeat;}

.dataList{ min-width:540px;} 
.dataList .ctt{ padding:5px 10px;}

.ctrlBtn{ height:40px; line-height:40px; text-align:center;}
.ctrlBtn .btn_back{ width:90px; height:24px; background:url(../../img/gb/btn_back.png) no-repeat;}
.ctrlBtn .btn_back:hover{ background:url(../../img/gb/btn_back_h.png) no-repeat;}
.ctrlBtn .btn_add{ width:90px; height:24px; background:url(../../img/gb/btn_add.png) no-repeat;}
.ctrlBtn .btn_add:hover{ background:url(../../img/gb/btn_add_h.png) no-repeat;}
.ctrlBtn .btn_del{ width:90px; height:24px; background:url(../../img/gb/btn_del.png) no-repeat;}
.ctrlBtn .btn_del:hover{ background:url(../../img/gb/btn_del_h.png) no-repeat;}
.ctrlBtn .btn_edit{ width:90px; height:24px; background:url(../../img/gb/btn_edit.png) no-repeat;}
.ctrlBtn .btn_edit:hover{ background:url(../../img/gb/btn_edit_h.png) no-repeat;}
.ctrlBtn .btn_submit{ width:90px; height:24px; background:url(../../img/gb/btn_submit.png) no-repeat;}
.ctrlBtn .btn_submit:hover{ background:url(../../img/gb/btn_submit_h.png) no-repeat;}
.ctrlBtn .btn_close{ width:90px; height:24px; background:url(../../img/gb/btn_close.png) no-repeat;}
.ctrlBtn .btn_close:hover{ background:url(../../img/gb/btn_close_h.png) no-repeat;}
.ctrlBtn .btn_normal{ width:90px; height:24px; background:url(../../img/gb/btn_normal.png) no-repeat;}
.ctrlBtn .btn_normal:hover{ background:url(../../img/gb/btn_normal_h.png) no-repeat;}

.dialog_ctrlBtn{ height:40px; line-height:40px; text-align:center;}
.dialog_ctrlBtn .btn_back{ width:90px; height:24px; background:url(../../img/gb/btn_back.png) no-repeat;}
.dialog_ctrlBtn .btn_back:hover{ background:url(../../img/gb/btn_back_h.png) no-repeat;}
.dialog_ctrlBtn .btn_add{ width:90px; height:24px; background:url(../../img/gb/btn_add.png) no-repeat;}
.dialog_ctrlBtn .btn_add:hover{ background:url(../../img/gb/btn_add_h.png) no-repeat;}
.dialog_ctrlBtn .btn_del{ width:90px; height:24px; background:url(../../img/gb/btn_del.png) no-repeat;}
.dialog_ctrlBtn .btn_del:hover{ background:url(../../img/gb/btn_del_h.png) no-repeat;}
.dialog_ctrlBtn .btn_edit{ width:90px; height:24px; background:url(../../img/gb/btn_edit.png) no-repeat;}
.dialog_ctrlBtn .btn_edit:hover{ background:url(../../img/gb/btn_edit_h.png) no-repeat;}
.dialog_ctrlBtn .btn_submit{ width:90px; height:24px; background:url(../../img/gb/btn_submit.png) no-repeat;}
.dialog_ctrlBtn .btn_submit:hover{ background:url(../../img/gb/btn_submit_h.png) no-repeat;}
.dialog_ctrlBtn .btn_close{ width:90px; height:24px; background:url(../../img/gb/btn_close.png) no-repeat;}
.dialog_ctrlBtn .btn_close:hover{ background:url(../../img/gb/btn_close_h.png) no-repeat;}

.pageNumber{ height:30px; background:url(../../img/gb/pageNumber_bg.png) repeat-x; border-radius:5px 5px 0 0; padding:0 5px; border:#ccc 1px solid; border-bottom:none;}
.pageNumber a{ display:block; width:16px; line-height:25px; height:16px; margin:6px 6px;}
.pageNumber .pageNumber_cur{ margin:3px 6px;}
.pageNumber .pageNumber_cur input{ vertical-align:middle;}
.pageNumber .first{ background:url(../../img/gb/btn_pageCtrl_first.png) no-repeat;}
.pageNumber .first:hover{ background:url(../../img/gb/btn_pageCtrl_first_h.png) no-repeat;}
.pageNumber .first.disable{ background:url(../../img/gb/btn_pageCtrl_first_dis.png) no-repeat;}
.pageNumber .first.disable:hover{ cursor:default;}
.pageNumber .last{ background:url(../../img/gb/btn_pageCtrl_last.png) no-repeat;}
.pageNumber .last:hover{ background:url(../../img/gb/btn_pageCtrl_last_h.png) no-repeat;}
.pageNumber .last.disable{ background:url(../../img/gb/btn_pageCtrl_last_dis.png) no-repeat;}
.pageNumber .last.disable:hover{ cursor:default;}
.pageNumber .prev{ background:url(../../img/gb/btn_pageCtrl_prev.png) no-repeat;}
.pageNumber .prev:hover{ background:url(../../img/gb/btn_pageCtrl_prev_h.png) no-repeat;}
.pageNumber .prev.disable{ background:url(../../img/gb/btn_pageCtrl_prev_dis.png) no-repeat;}
.pageNumber .prev.disable:hover{ cursor:default;}
.pageNumber .next{ background:url(../../img/gb/btn_pageCtrl_next.png) no-repeat;}
.pageNumber .next:hover{ background:url(../../img/gb/btn_pageCtrl_next_h.png) no-repeat;}
.pageNumber .next.disable{ background:url(../../img/gb/btn_pageCtrl_next_dis.png) no-repeat;}
.pageNumber .next.disable:hover{ cursor:default;}


.dialog_pageNumber{ height:30px; background:url(../../img/gb/pageNumber_bg.png) repeat-x; border-radius:5px 5px 0 0; padding:0 5px; border:#ccc 1px solid; border-bottom:none;}
.dialog_pageNumber a{ display:block; width:16px; line-height:25px; height:16px; margin:6px 6px;}
.dialog_pageNumber .pageNumber_cur{ margin:3px 6px;}
.dialog_pageNumber .pageNumber_cur input{ vertical-align:middle;}
.dialog_pageNumber .first{ background:url(../../img/gb/btn_pageCtrl_first.png) no-repeat;}
.dialog_pageNumber .first:hover{ background:url(../../img/gb/btn_pageCtrl_first_h.png) no-repeat;}
.dialog_pageNumber .last{ background:url(../../img/gb/btn_pageCtrl_last.png) no-repeat;}
.dialog_pageNumber .last:hover{ background:url(../../img/gb/btn_pageCtrl_last_h.png) no-repeat;}
.dialog_pageNumber .prev{ background:url(../../img/gb/btn_pageCtrl_prev.png) no-repeat;}
.dialog_pageNumber .prev:hover{ background:url(../../img/gb/btn_pageCtrl_prev_h.png) no-repeat;}
.dialog_pageNumber .next{ background:url(../../img/gb/btn_pageCtrl_next.png) no-repeat;}
.dialog_pageNumber .next:hover{ background:url(../../img/gb/btn_pageCtrl_next_h.png) no-repeat;}

.tableWrap{ overflow:auto;}
.tableWrap table{ width:100%; border:#ccc 1px solid;}
.tr_odd{ background:#cbd4e4;}
.tr_even{ background:#e2e7f0;}
.tr_cur{ background:#fafae5 !important;}

.table_search tr{ height:30px;}

.table_list tr{ height:30px;}
.table_list tr th{ background:#bcd1e5; text-align:left; padding:0 8px; border-left:#ddd 1px dotted; white-space:nowrap;}
.table_list tr td{ padding:0 8px; border-left:#ddd 1px dotted; border-bottom:#ddd 1px solid;}
.table_list tr:nth-child(odd){ background:#cbd4e4;}
.table_list tr:nth-child(even){ background:#e2e7f0;}

.table_form tr th{ background:#cbd4e4; border-bottom:#ddd 1px solid; border-left:#ddd 1px solid;}
.table_form tr td{ background:#e2e7f0; border-bottom:#ddd 1px solid; border-left:#ddd 1px solid;}

.txt{ margin:8px;}
.txtArea{ width:450px; height:102px; overflow:auto; margin:8px;}

.nav{ width:100%; height:100%; position:relative;}
.navLv1{ width:110px; height:100%; background:url(../../img/gb/nav_lv1_bg.png) repeat-y; border-right:#557b9d 1px solid; }
.navLv1_wrap{ position:relative; width:110px; overflow:hidden;}
.navLv1 input[type=button]{ width:110px; height:30px;}
.btn_navSlide_prev{ background:url(../../img/gb/nav_lv1_btn_prev.png) no-repeat; box-shadow:0 1px 3px #000;}
.btn_navSlide_prev:hover{ background:url(../../img/gb/nav_lv1_btn_prev_h.png) no-repeat;}
.btn_navSlide_next{ position:absolute; background:url(../../img/gb/nav_lv1_btn_next.png) no-repeat; bottom:0px; box-shadow:0 -1px 3px #333;}
.btn_navSlide_next:hover{ background:url(../../img/gb/nav_lv1_btn_next_h.png) no-repeat;}
.navLv1 ul{ position:relative;}
.navLv1 ul li{ height:135px; border-top:#254d6f 1px solid; border-bottom:#a5c6e2 1px solid;}
.navLv1 ul li a{ display:block; zoom:1; text-align:center; color:#333; font-weight:bold; padding:5px 0; margin:10px 6px; border-radius:3px;}
.navLv1 ul li a:hover{ background:#95bdee; border:#557a9a 1px solid; color:#000; margin-top:9px; box-shadow:0 0 2px #369;}
.navLv1 ul li a.getFocus{ background:#2575d9 !important; border:#557a9a 1px solid; color:#fff !important; margin-top:9px; box-shadow:0 0 2px #369;}
.navLv1 ul li a img{ height:64px; width:64px; padding:10px 0;}

.navLv2{ width:150px; height:100%; background:url(../../img/gb/nav_lv2_bg.png) repeat-y;}
.navLv2 ul{}
.navLv2 ul li{ border-bottom:#557b9d 1px solid; border-top:#a9bcce 1px solid;}
.navLv2 ul li a{ display:block; zoom:1; height:35px; line-height:35px; text-align:center; background:#87a4bf; color:#000;}
.navLv2 ul li a:hover{ background:#95bdee;}
.navLv2 ul li a.getFocus{ background:#2575d9 !important; color:#fff !important;}
.navLv2 ul li:last-child{ box-shadow:0 1px 2px #666;}

.td_navHidden{ width:24px; height:100%; background:url(../../img/gb/nav_hidden_bg.png) repeat-y;}
.td_navHidden a{ display:block; width:20px; height:40px; background:url(../../img/gb/nav_hidden_btn.png) no-repeat;}
.td_navHidden a:hover{ background:url(../../img/gb/nav_hidden_btn_h.png) no-repeat;}
.td_navHidden a.visible{ background:url(../../img/gb/nav_visible_btn.png) no-repeat !important;}
.td_navHidden a.visible:hover{ background:url(../../img/gb/nav_visible_btn_h.png) no-repeat !important;}

.divList{ position:relative;}
.divList span{ display:block; width:200px; height:100px; background:#900;}

.navLv1_wrap ul{ position:relative;}

.page_about{ margin-top:2em;}
.page_about h2{ font-size:14px; font-weight:bold; color:#369; margin-top:1.5em;}
.page_about p{ text-indent:2em; margin-top:0.2em; margin-bottom:1em;}
