<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 黑洞标题栏 -->
    <link rel="icon" sizes="any" mask="" href="img/tag-head/index_head_black_hole.svg">
    <title>诸葛延昌</title>
    <script type="text/javascript" src="js/import.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/import.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>
<div id='app' style="height:100%; overflow:auto;">
    <el-container>
        <!-- 头部搜索框 -->
        <el-header height=50px>
            <el-row type="flex" justify="space-around" align="top">
                <el-col :span="16">
                    <el-input autofocus max="100" placeholder="请输入内容" v-model="searchText"
                              @keyup.enter.native="toSearch()" class="input-with-select " clearable>
                        <template slot="prepend">https://</template>
                        <el-select v-model="colNum" slot="append" filterable placeholder="请选择"
                                   @change="getColNumList()">
                            <el-option v-for="item in colNumList" :key="item.value" :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-input>
                </el-col>
                <el-col :span="8" :offset="0">
                    <el-button :type="getButtonType('baidu')" @click="toSearch('baidu')">百度</el-button>
                    <el-button :type="getButtonType('baiduBeta')" @click="toSearch('baiduBeta')"> 开发者
                    </el-button>
                    <el-button :type="getButtonType('zhihu')" @click="toSearch('zhihu')">知乎</el-button>
                    <el-button :type="getButtonType('wechat')" @click="toSearch('wechat')">微信</el-button>
                    <el-button :type="getButtonType('goobe')" @click="toSearch('goobe')">大本营</el-button>
                    <el-button :type="getButtonType('google')" @click="toSearch('google')">谷歌</el-button>
                    <el-button :type="getButtonType('bing')" @click="toSearch('bing')">必应</el-button>
                </el-col>
            </el-row>
        </el-header>
        <!-- 中部内容区 容器 -->
        <el-container style="height: 800px; border: 1px solid #eee">
            <!-- 左侧导航栏 -->
            <el-aside width="300px" style="background-color: rgb(238, 241, 246);text-align: left">
                <el-menu default-active=defaultActive class="el-menu-vertical-demo" :unique-opened="true"
                         @open="handleOpen" @close="handleClose" @select="handleSelect">
                    <el-submenu :index="item.id + ''" v-for="item in menuList" :key="item.id">
                        <template slot="title">
                            <i :class="item.iconClass"></i>
                            <span>{{ item.authName }}</span>
                        </template>
                        <el-menu-item :index="subItem.id + ''" v-for="subItem in item.children"
                                      :key="subItem.id" @click="clickTitle()">
                            <i :class="subItem.iconClass"></i>
                            <span slot="title">{{ subItem.authName }}</span>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <!-- 内容区 -->
            <el-main height=70%>
                <el-row :index="items.id + ''" v-for="items in contentList" :key="items.id" :gutter="12">
                    <el-col :span="colSpan" :offset="getColOffset(items.length)" :index="item.id + ''"
                            v-for="item in items.data" :key="item.id">
                        <el-card shadow="hover" class="box-card grid-content"
                                 body-style="height: 50px; cursor: pointer;" align="middle"
                                 @click.native="openUrl(item.url)" @mouseover.native="mouseoverFunction(item.id)"
                                 @mouseout.native="mouseoutFunction(item.id)">
                            <img :src="item.imgUrl"
                                 style="width: 50px; height: 50px; float: left; margin-top: 5px;border-width: 0px;">
                            <span>
		                        <a class="fontRed">{{item.name}}</a></br>
                                <a class="fontBlack"
                                   style="text-align: left; font-size: 12px;color: gray;">{{item.description}}</a>
							</span>
                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
        <!-- 底部 -->
        <el-footer><a href="addUrl.html">编辑网址</a></el-footer>
    </el-container>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: function () {
            return {
                jsonDir: './json/',
                colNum: 8,
                colSpan: '',
                colNumList: [],
                colOffset: '',
                searchText: '',
                buttonValue: 'baidu',
                urlList: {},
                contentList: [],
                contentListAll: [],
                menuList: [],
                defaultActive: ["1", "2"],
            }
        },
        created() {
            this.create = '初始化';
            this.setDefault();
            this.getAllData();
        },
        methods: {
            setDefault() {
                this.colSpan = Math.floor(24 / this.colNum);
                this.colNumList = getNumList(1, 24);
                this.colOffset = Math.floor((24 - this.colNum * this.colSpan) / this.colNum);
            },
            getAllData() {
                this.getUrlList(this.jsonDir + "url.json");
                this.getContentListAll(this.jsonDir + "content.json");
                this.getMenuList(this.jsonDir + "menu.json");
            },
            getUrlList(value) {
                $.getJSON(value).then(res => {
                    this.urlList = res.urlList;
                })
            },
            getContentListAll(value) {
                $.getJSON(value).then(res => {
                    this.contentListAll = res.data;//chunkArr(res.data, this.colNum);
                }).then(() => {
                    this.getContentList();
                });
            },
            // 获取链接块 切割数组
            getContentList(navigationID) {
                if (isNull(navigationID)) {
                    this.contentList = chunkArr(this.contentListAll, this.colNum);
                } else {
                    this.contentList = [];
                    var slipArr = this.contentListAll.filter(e => e.navigationID.startsWith(navigationID));
                    this.contentList = chunkArr(slipArr, this.colNum);
                }
            },
            getMenuList(value) {
                $.getJSON(value).then(res => {
                    this.menuList = res.data;
                })
            },
            handleSelect(key, keyPath) {
                this.getContentList(key);
            },
            handleOpen(key, keyPath) {
                this.getContentList(key);
            },
            handleClose(key, keyPath) {
                this.getContentList(key);
            },
            // 搜索跳转功能
            toSearch(value) {
                var url = null;
                if (isNull(value)) {
                    // 回车键-传值为空-用默认
                    url = this.urlList[this.buttonValue] + this.searchText;
                } else {
                    url = this.urlList[value] + this.searchText;
                    // 更新默认搜索按钮
                    this.buttonValue = value;
                }
                window.open(url);
            },
            // 动态间隔
            getColOffset(val) {
                return Math.floor((24 - val * this.colSpan) / val);
            },
            // 打开页签
            openUrl(url) {
                window.open(url);
            },
            // 鼠标覆盖特效
            mouseoverFunction(id) {
                $("[index='" + id + "'] .fontRed").css("color", "red");
                $("[index='" + id + "'] .fontBlack").css("color", "black");
                $("[index='" + id + "'] .el-card__body").css("background-color", "#d5ddef");
            },
            // 鼠标移开
            mouseoutFunction(id) {
                $("[index='" + id + "'] .fontRed").css("color", "black");
                $("[index='" + id + "'] .fontBlack").css("color", "gray");
                $("[index='" + id + "'] .el-card__body").css("background-color", "white");
            },
            // 动态列数
            getColNumList() {
                this.colSpan = Math.floor(24 / this.colNum);
                this.colOffset = Math.floor((24 - this.colNum * this.colSpan) / this.colNum);
                this.getContentList();
            },
            // 封装按钮类型
            getButtonType(value) {
                return this.buttonValue == value ? "info" : "primary";
            },
            //
            clickTitle() {
            },
        },
    })
</script>
</body>
</html>
